body{
background-color:aqua;
margin:0px;
}
.prixtot{
margin-top:10px;
display:flex;
justify-content:center;
background-color:white;
font-size:20px;
}
#ta{
display:flex;
justify-content:center;
align-items:center;
}
#tz{
display:flex;
justify-content:center;
align-items:center;
}
.englobe{
width:700px;
margin-top:90px;
display:flex;
flex-direction:column;
background-color:white;
margin-left:320px;
margin-right:250px;
margin-bottom:50px;
border-radius:10px;
}
.vetement{
display:flex;
border-top:0.5px solid gray;
}
.image{
margin-right:10px;
}
.detail{
margin-top:30px;
width:380px;
}
.quantite{
display:flex;
justify-content:center;
align-items:center;
}
.espaceadd{
margin-right:10px;
}
.espacesous{
margin-right:10px;
}
.designbutt{
background-color:white;
border:none;
}
.espacetot{
margin-right:80px;
}
.total-prix{
margin-right:30px;
}
.aj-sup{
text-align: center;
}